@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

@keyframes fadeIn {
    0% {
        opacity: 0%;

    }

    100% {
        opacity: 100;
    }
}

html {
    scroll-behavior: smooth;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0px;

}

body {
    font-style: normal;
    font-family: "Gsans", sans-serif;
    background: rgb(255, 249, 114);
    background: linear-gradient(133deg, rgba(255, 249, 114, 1) 0%, rgba(133, 249, 255, 1) 100%);
    transition: 2s;
}

header {
    text-align: center;
    height: 200px;
}

header .titulo {
    padding: 40px;
    margin-right: 150px;
}

header h1 {
    margin: 10px;
}

header .icono {
    position: relative;
    left: 180px;
    bottom: 155px;
}

header div img {
    max-width: 110px
}

nav {
    margin-bottom: 30px;
    margin-top: -16px;
    background-color: #f8ff8f;
}

nav ul {
    height: 50px;
    list-style: none;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



.destinos h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-left: 80px;
}

.destinos h3 {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 90px;
}

.destino {
    border-radius: 20px;
    text-align: center;
    backdrop-filter: brightness(80%);
    font-size: larger;
    transition: 0.5s;
}

.destino:hover {
    backdrop-filter: brightness(88%);
    color: white;
}

#containerDestinos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    gap: 20px;
}

.btn-grad {
    background: #85f9ff;
    margin: 15px;
    margin-top: 20px;
    padding: 15px 25px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: darkslategray;
    border-radius: 10px;
    display: block;
    border-width: 0ch;
}

.btn-grad:hover {
    background: rgb(255, 249, 114);
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.destino {
    margin: auto;
    padding: 20px 0px;
}

.destino h3 {
    user-select: none;
}

#pasajeYEquipaje {
    display: flex;
    width: 100%;
}

#pasajeros {
    display: none;
    padding-left: 80px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#divPasajeros {
    margin: 40px;
}

.cajaPasajeros {
    padding: 10px;
    margin: 10px 10px;
    border: 30px;
    width: 60px;
    transition: 0.5s;
    border-color: #85f9ff;
    border-radius: 10px;
    background: rgb(133, 249, 255);

}

.cajaPasajeros:focus {
    border-width: 0px;
}

.cajaPasajeros:hover {
    background-color: #fff972;

}

#cantPasajeros {
    display: none;
}

#cantPasajeros label {
    font-weight: bolder;
}

#selectorEquipaje {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 80px;
}


.selectores {
    flex-grow: 1;
    text-align: center;
    backdrop-filter: brightness(80%);
    border-radius: 20px;
    padding: 20px 20px;
}

#equipajes {
    display: none;
    margin: 60px 0px;
    text-align: center;
}

.equipaje h2 {
    padding-left: 80px;
}

.Tequipaje {
    padding: 10px;
    margin: 10px 10px;
    border: 0px;
    border-radius: 20px;
    width: 80%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%238E8E93"/></svg>');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
}

.infoEquipaje {
    display: none;
    display: grid;
    margin: 40px 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.infoEquipaje div {
    text-align: center;
    align-content: center;
}

#ticket {
    display: none;
    background-color: #f8ff8f;
    border: 8px solid #fff972;
    border-radius: 20px;
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 30px;
    margin-top: 50px;
    text-align: center;
    color: #2f4f4f;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: darkslategray;
    background: rgba(255, 249, 114, 1);
    transition: 1s;
    box-shadow: 6px 6px 0 #2f4f4f;
    transform: skewX(-15deg);
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #019199;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {

    transform: skewX(15deg)
}



span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: darkslategray;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: darkslategray;
    }
}

#ticketYBoton {
    display: flex;
    width: 100%;
    margin-left: 70px;
}

#botonFinal {
    display: flex;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
}

#mascaraBoton {
    display: none;
    width: 50%;
    height: fit-content;
}